.container {
  min-height: 100vh;
  background: linear-gradient(to bottom, #113952, #022243);
  color: var(--white);
  padding: 2rem;
}

.header {
  text-align: center;
  font-weight: lighter;
  margin: 2rem 0;
}
