{
  "semi": false,
  "singleQuote": false,
  "quoteProps": "consistent",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "all",
  "endOfLine": "lf"
}
