.wrapper {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

.svg {
  width: 100%;
  height: 100%;
}

.group {
  will-change: transform;

  path {
    display: none;
  }
}

/* ===== light core ===== */
.core {
  fill: none;
  stroke-width: 1;
  stroke-linecap: round;
  opacity: 0.3;
  filter: blur(0.4px);
}

.glowMid {
  fill: none;
  stroke-width: 6;
  stroke-linecap: round;
  opacity: 0.3;
}

.glowFar {
  fill: none;
  stroke-width: 12;
  stroke-linecap: round;
  opacity: 0.1;
}

