.menu {
  position: fixed;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  padding: 10px 14px;
  background-color: rgba($color: #000000, $alpha: 20%);
  border-radius: 6px;
  box-shadow: #414141 0 2px 8px 0;
  transition: opacity 0.3s;
}

.menuList {
  display: flex;
  gap: 14px;
}

.menuIconWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #505050;
}

.menuListItem {
  transition: 0.4s ease-in-out;
  overflow: hidden;
  border: 1px solid var(--accent);
  background: #ededed;
  color: var(--black);
  border-radius: 50%;
  box-shadow: #2a2a2a 0 4px 10px 0;
  cursor: pointer;

  &:hover {
    box-shadow:
      #414141 0 0 2px 0,
      inset #999999 0 1px 6px 0;

    .menuIconWrap {
      color: var(--black);
    }
  }

  & > a {
    display: flex;
    width: 100%;
    align-items: center;
  }
}

.activeIcon {
  color: var(--accent);
}

.menuText {
  white-space: nowrap;
}
