@use "@/styles/constants.scss" as *;

.accordionItemWrapper {
  border: 1px solid var(--accent);
  border-radius: 4px;
  background: rgba($color: #000000, $alpha: 40%);
  transition: 0.3s;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &:hover {
    box-shadow: 0 0 8px #34799c;
    background: rgba($color: #000000, $alpha: 60%);
  }
}

.accordionTitle {
  // reset button styles
  display: block;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font: inherit;
  color: inherit;
  text-align: left;

  &:focus-visible {
    outline: 1px solid var(--white);
    outline-offset: 2px;
  }

  // add custom styles
  border-bottom: 1px solid var(--accent);
  cursor: pointer;
  padding: 1rem;
}

.accordionContent {
  display: grid;
  grid-template-rows: 1fr;
  transition:
    grid-template-rows 0.4s ease-out,
    opacity 0.9s ease-out,
    padding 0.4s ease-out;
  padding: 1rem;
  opacity: 1;
}

.accordionContentClosed {
  grid-template-rows: 0fr;
  padding-bottom: 0;
  padding-top: 0;
  opacity: 0;
}

.accordionInner {
  overflow: hidden;
}
