@use "@/styles/constants.scss" as *;

.container {
  padding: 0;
  padding: 2rem;
  margin: auto;
  color: #64a5d6;
  user-select: none;
  pointer-events: none;
  overflow: hidden;

  & pre {
    width: 100%;
  }
}

.line {
  min-height: 1.6rem;

  @include respond(lg) {
    min-height: 1rem;
  }
}

// styles for color html tags
.brackets {
  color: #a1a1a1;

  @media (prefers-color-scheme: dark) {
    color: #ffffff;
  }
}

// .attribute {
//     color: rgb(8, 114, 251);
// }

// .tagName {
//     color: #63d063;
// }
// .innerText {
//     color: #ffffff;
// }
