@use "@/styles/constants.scss" as *;

$header-text-shadow:
  1px 1px #1e5598,
  2px 2px 3px #0e3454;

.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 80px;
  min-height: 100vh;
  background: linear-gradient(to bottom, #141822 40%, #2e3d64);
}

.container {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  perspective: 1500px;
  padding-bottom: 40px;
}

.blocksSize {
  height: 50%;
  min-height: 400px;
}

.codeStyles {
  @extend .blocksSize;

  width: clamp(500px, 30%, 700px);
  transform-style: preserve-3d;
  transform: rotateY(45deg) translateX(20px);
  transform-origin: left;
  opacity: 0.6;
  box-shadow:
    -8px 0 0 0 #151515,
    -8px 6px 16px var(--accent);
  transition: 0.3s ease-in-out;
  font-size: 1.2rem;

  &:hover {
    transform: rotateY(25deg) translateX(-2px);
    box-shadow:
      -4px 0 0 0 #151515,
      -4px 4px 12px #999999;
    opacity: 0.9;
  }

  @include respond(lg) {
    transform: none !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    font-size: 2rem;

    &:hover {
      opacity: 0.2;
    }
  }
}

.textBlock {
  @extend .blocksSize;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  flex-grow: 1;
  padding: 2rem;
  border-radius: 5px;
  z-index: 5;
  max-width: 500px;
}

.mainHeader {
  display: flex;
  flex-wrap: wrap;
  font-size: 4rem;
  color: var(--white);
  text-transform: uppercase;
  text-shadow: $header-text-shadow;

  & > span:first-child {
    width: 100%;
  }

  & > span:not(:first-child) {
    color: var(--accent);
  }

  @include respond(lg) {
    flex-direction: column;
    align-items: center;

    & .verticalLine {
      width: 100%;
      height: 6px;
    }
  }
}

.title {
  $font-size: 1.6rem;

  animation: show 3s;

  svg {
    width: 100%;
    height: $font-size * 2;
  }

  text {
    font-size: $font-size;
    fill: #273041;
    stroke: #d2e4fc;
    stroke-width: 0.5px;
    stroke-linejoin: round;
    paint-order: stroke fill;
  }
}

.slogan {
  color: #579ebd;
  font-size: 1.6rem;
  text-transform: uppercase;
  animation: show 3s;
}

.horizontalLine {
  width: min(60%, 200px);
  margin: 1rem auto;
  height: 1px;
  background: rgba($color: #ffffff, $alpha: 30%);
  animation: show 8s;
}

$btn-gap: 14px;

.btnWrap {
  display: flex;
  justify-content: center;
  gap: $btn-gap;
  margin-top: 2rem;
  animation: show 5s;
}

.btnLink {
  display: flex;
  align-items: center;
  gap: $btn-gap;
  padding: 10px $btn-gap;
  border-radius: 6px;
  background-color: rgb(9 71 102 / 40%);
  border: 1px solid var(--white);
  color: var(--white);
  font-size: 1rem;
  font-weight: lighter;
  letter-spacing: 0.1em;
  text-decoration: none;
  cursor: pointer;
  transition:
    background-color,
    box-shadow,
    color 0.3s ease;

  & .hoveredIcon {
    display: none;
  }

  &:hover {
    color: var(--accent);
    background-color: rgb(255 255 255 / 80%);
    box-shadow:
      0 0 6px var(--accent),
      inset 0 0 2px rgb(255 255 255 / 50%);

    & .hoveredIcon {
      display: inline-block;
    }

    & .defaultIcon {
      display: none;
    }
  }

  &:active {
    transform: scale(0.96);
  }
}

.technologies {
  margin: 0 auto;
  color: var(--accent);
  font-weight: bold;
  opacity: 0;
  text-shadow: 0 1px 1px var(--black);
}

@keyframes show {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
