.container {
  position: relative;
  height: 100vh;
  background-color: #0d0d0d;
  color: #00ff00;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.codeBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  user-select: none;
  pointer-events: none;
  font-size: 1.4rem;
  line-height: 1.4;
  white-space: pre;
  z-index: 1;

  @media screen and (max-width: 1200px) {
    font-size: 1.2rem;
    line-height: 1.2;
  }
  & > pre {
    margin: 0;
    padding: 0;
    width: 90%;
  }
}

.line {
  min-height: 22px;
}

.text {
  white-space: pre-wrap;
}

.mainHeader {
  position: relative;
  font-size: 3rem;
  color: white;
  z-index: 10;
}